*.py[cod]

*.so

*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

pip-log.txt

.coverage
.tox
nosetests.xml

*.mo

.mr.developer.cfg
.project
.pydevproject

venv
app.db

logs
project_data
.flaskenv
db.script
.static.bk
.junk
.conda_req.bk
idb.py
