/* Project styles */
/* classes */
.section-title {
	text-align: center;
	text-transform: uppercase;
}

/* EDA */

.eda {
	color: black;
	margin-top: 3.5em;
}

.eda img {
	border: 1px solid #ddd;
	border-radius: 4px;
	height: 50%;
	width: 50%;
}

