/* Project styles */

/*''':link {
	color: #0000EE;
}

:visited {
	color: #551A8B;
}'''*/

/* EDA */

.eda {
	color: black;
	margin-top: 3.5em;
}

.eda img {
	border: 1px solid #ddd;
	border-radius: 4px;
	height: 50%;
	width: 50%;
}

.eda-carousel-item > img {
	max-width: 1000px;
	max-height: auto;
	border: 1px solid #ddd;
	border-radius: 4px;
}
