{% include "header.html" %}
	<header class="masthead" style="background-image: url('../static/img/cnn.jpg')">
                <div class="overlay"></div>
                <div class="container">
                        <div class="row">
                                <div class="col-lg-8 col-md-10 mx-auto">
                                        <div class="site-heading">
                                                <h1>CNNs for Image Analysis</h1>
                                                <span class="subheading">Detecting Disease in Cassava Plant Leaves</span>
                                        </div>
                                </div>
                        </div>
                </div>
        </header>
        <iframe src="https://jovian.ai/embed?url=https://jovian.ai/jandrewtomich/ztg2/v/2" title="Jovian Viewer" height="14000" width="100%" style="overflow: hidden; max-width: 100%;" frameborder="0" scrolling="no"></iframe>
{% include "footer.html" %}
    
