{% include "header.html" %}
    <header class="masthead" style="background-image: url('static/img/houston1.png')">
        <div class="overlay" style="opacity: 75%"></div>
            <div class="container">
                    <div class="row">
                            <div class="col-lg-8 col-md-10 mx-auto">
                                    <div class="site-heading">
                                            <h1>About Me</h1>
                                            <span class="subheading"><p>Hey...</p><p>YOU asked...</p></span>
                                    </div>
                            </div>
                    </div>
            </div>
    </header>
{% include "footer.html" %}