{% include "header.html" %}
	<header class="masthead" style="...">
                <div class="overlay"></div>
                <div class="container">
                        <div class="row">
                                <div class="col-lg-8 col-md-10 mx-auto">
                                        <div class="site-heading">
                                                <h1>What Shall We Watch?</h1>
                                                <span class="subheading">A Deep-Dive Into Netflix and IMDb</span>
                                        </div>
                                </div>
                        </div>
                </div>
        </header>
	<div class="container eda">
		{% for block in blocks %}
			<div class="container">
				<div class="row">
					<h4>
						{{ block.text_block }}
					</h4>
					{{ block.iframes }}
				</div>
			</div>
			<br>
		{% endfor %}
	</div>
	<!--<div class="container eda">
		{% include "_eda-block.html" %}
	</div>-->
{% include "footer.html" %}

