{% include "header.html" %}
<header class="masthead" style="background-image: url('https://www.concordia.ca/content/concordia/en/academics/gr    aduate/software-engineering-meng.img.png/1627073750165.jpg')">
        <div class="overlay" style="opacity: 75%"></div>
        <div class="container">
                <div class="row">
                        <div class="col-lg-8 col-md-10 mx-auto">
                                <div class="site-heading">
                                        <h1>Flight Notification System</h1>
                                        <span class="subheading">Book Your Dream Trip Today!</span>
                                </div>
                        </div>
                </div>
        </div>
</header>
{% include "footer.html" %}
