	<footer></footer>

	<script src="{{ url_for('static', filename='/vendor/jquery/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='/js/clean-blog.min.js') }}"></script>

	<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

	<script src="{{ url_for('static', filename='js/like_button.js') }}"></script>
	
	<script type="text/javascript">
		$(document).ready(function(){
			$('.carousel').carousel({
				interval: 2000;
			})
		});    
	</script>

</body>

</html>
