{% include "header.html" %}
	<header class="masthead" style="background-image: url('../static/img/HN2.png')">
                <div class="overlay"></div>
                <div class="container">
                        <div class="row">
                                <div class="col-lg-8 col-md-10 mx-auto">
                                        <div class="site-heading">
                                                <span class="subheading">Summaries</span>
                                        </div>
                                </div>
                        </div>
                </div>
        </header>
        <iframe src="http://172.22.67.84:3000" height="30000" width="100%" frameborder="1" scrolling="no"></iframe>
{% include "footer.html" %}
    
