{% include "header.html" %}
<header class="masthead" style="...">
	<div class="overlay"></div>
        <div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="site-heading">
					<h1>Projects</h1>
					<span class="subheading">A Sample of my Work</span>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div class="card" style="width: 18rem; background: #000;">
				<img src="{{ url_for('static', filename='img/nfdb1.png') }}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Netflix & IMDb EDA</h5>
					<p class="card-text">An exploratory data analysis of Netflix data combined with user ratings from IMDb</p>
					<a href="{{ url_for('main.eda') }}" class="btn btn-primary">View Project</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 18rem; background: #000;">
				<img src="{{ url_for('static', filename='img/nfdb1.png') }}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Netflix & IMDb EDA</h5>
					<p class="card-text">An exploratory data analysis of Netflix data combined with user ratings from IMDb</p>
					<a href="{{ url_for('main.eda') }}" class="btn btn-primary">View Project</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% include "footer.html" %}

